.navigation {
	ul {
		margin: 1em 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		
	}
	li {
		display: flex;
		padding: 0.1em;
	}
	a {
		border: 2px solid $primary;
		background-color: $primary-dark;
		padding: 0.3em;
		font-size: 1.2em;
		flex: 1;
		&:hover {
			border-color: $primary-darkest;
			background-color: $secondary-lightest;
		}
	}
}
